@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,800&display=swap&subset=cyrillic');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #4AD17D;
}

#menu {
  margin: 0 auto;
  text-align: center;

  width: 300px;



}
#stname {
 font-size: 50px;
 font-family: 'Oswald', s ;



}
#play, #play:focus, #play:active {
	  height: 100px;
	  width: 200px;
  margin-top: 20vh;
  font-size: 30px;
  outline: none;
  background-color: #59E4F5;
  border-radius: 100px;
  border: #275661 solid 3px;
  font-family: "Ubuntu", serif;
}
#play:active {
    background-color: #3B8494;
}
#play:focus {
    border: #357685 solid 3px;
}
#draz {
	padding-top: 50px;
	font-size: 30px;
font-family: 'Roboto Condensed', serif ;
    
	
}
.randomizer {
  text-align: center;
  display: none;
}

#addVel {
  outline: none;
  border: 2px solid #634ad1;
  border-radius:  20px 0 0 20px ;
  width: 200px;
  height: 30px;
  background-color: #d14ab8;
  text-align: center;
  font-family: 'Montserrat', s;
  font-size: 15  px;

}

#add {
  font-family: 'Montserrat', s;
  height: 30px; 
  border-radius: 0 20px 20px 0;
 border: 2px solid #634ad1;
  outline: none;
  height: 33px;
  background-color: #d14ab8;
  font-size: 16px
  
}

#random {
  height: 30px; 
  border-radius: 20px ;
 border: 2px solid #634ad1;
  outline: none;
  height: 40px;
  background-color: #d14ab8;
  margin: 15px;
  font-size: 20px;
    font-family: 'Montserrat', s;
}

#check {

  display: none;
}
#but {
   display: block;
    text-align: center;
    line-height: 100%;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif ;
    padding: 5px;
    color: #d1574a;
    border: 2px solid #d1574a;
    border-radius:  30px;
    width: 250px;
    margin: 10px auto;
    background-color: #d19b4a;
}

#check:checked ~ .randomizer{
    display: block;
}
#check:checked ~ #but{
    background-color: #C3A77C;
    color: #A43529;
    border: 2px solid #A43529;
}
#result {
   font-family: 'Open Sans', sans-serif ;
   font-size: 25px;
}
#list {
  font-family: 'Open Sans', sans-serif ;
  font-size: 20px;
}
#more__icon {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.30);
  position: absolute;
  right: 2vh;
  border:1px solid black;
  align-items: center;
}

.touch {
  height: 5px;
  width: 5px;
  border-radius: 1000px;
  background-color: black;
  margin: 12% auto;
}

#popup__list {
  background-color: #4a5bd1;
  border: 2px solid #252578;
  border-radius: 30px 0 30px 30px;
  position: absolute;
  right: 6.3vh;
 
  text-align: center;
}
#btn-1, #btn-2, #btn-3{
  /*display: inline-block;*/
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  border: 0;
  background: none;
  outline: none;
}
#btn-1:hover, #btn-2:hover, #btn-3:hover{
  color: #c12b76;
}
#more__popup{
  transition-delay: 20s;
  height: 100%;
  width: 100%;
}
#settings{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.60);
 height: 100%;
 width: 100%;
 top: 0;

}
.settings__inner{
  font-size: 20pt;
  background-color: #148B8B;
  border: 2px solid #006969;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -255px;
  margin-top: -154px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  height: 308px;
  width: 510px;


}
/*set-1*/
/*set-1*/

#close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0%;
  top: 0;
}

#set-1,#set-2,#set-3,#set-4,#set-5,#set-6,#set-7,#set-8,#set-9,#set-10{
 float: right;
 cursor: pointer;
}
#set-1{
  margin-right: 20px;
}









@media (max-width: 1437px; max-height: 655;) {
 #more_popup{
  right: 6vh;
 }
  
}

@media (max-width: 900px) {
  #btn-1, #btn-2, #btn-3{
  /*display: inline-block;*/
  padding: 10px;
  font-size: 20px;

  
  }
}

@media (max-width: 735px) {
  #btn-1, #btn-2, #btn-3{
  /*display: inline-block;*/
  padding: 10px;
  font-size: 15px;
  
  
  }
  .settings__inner{
  font-size: 14pt;
  background-color: #148B8B;
  border: 2px solid #006969;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -205px;
  margin-top: -170px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  height: 205px;
  width: 340px;
}
@media (max-width: 635px) {
  #btn-1, #btn-2, #btn-3{
  /*display: inline-block;*/
  padding: 10px;
  font-size: 20px;
  
  
  }
  #popup__list {
    top: calc(50% - 163px/1.5);
    left: calc(50% - 342px/2);
    border-radius: 30px;
    width: 342px;
    height: 163px;
  position: absolute;

  }
  body{
    height: 100vh;
  }
 }