html{
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}
@font-face{
	font-family: 'Corporate-A-Bold';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Corporate-A-Bold.woff2) format('woff2'),
		 url(../fonts/Corporate-A-Bold.woff) format('woff');
}
body{
	font-size: 16pt;
	font-weight: 400;
	line-height: 120%;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
}
a{
	text-decoration: none;
	color:inherit;
}
button{
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
ul{
	list-style: none;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10;
}
.header{

}
.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.header__nav{

}
.list{
	display: flex;

}
.list__item + .list__item{
	margin-left: 30px;
}
.list__link{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background .3s;
}
.list__link:hover{
	background-color: #C1A1D2;
}
.header__content{
	background-image: url(../images/header-bg.png);
	min-height: calc(100vh - 100px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
.header__content::before{
	content:"";
	background-image: url(../images/decor.svg);
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -25px;
}
.title{
	font-family: 'Corporate-A-Bold';
	font-size: 72px;
	margin-bottom: 5px;
	line-height: 120%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-description{
	font-size: 24px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 50px;
}
.footer__inner{
	display: flex;
	height: 300px;
	justify-content: space-between;
	align-items: center;
}
.footer{
	background-color: #070A1B;
}
.concept{
	padding-top: 150px;
	margin-bottom: 150px;
}
.concept__inner{
	max-width: 900px;
	margin-left: auto;
	
}
.section__title{
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Corporate-A-Bold';
	color: #F402A2;
}
.concept-text{
	font-size: 24px;
	margin-bottom: 25px;
	line-height: 120%;
}
.premier__column{
	max-width: 570px;	
}
.premier__inner{
	display: flex;
	gap: 60px;
}
.premier{
	margin-bottom: 150px;
}
.premier__text {
	margin-bottom: 20.5px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
}
.premier__img{
	margin-bottom: 23px;
}
.section__btn{
	display: block;
	width: 100%;
	color:#F402A2;
	border: 1px solid #F402A2;
	height: 50px;
	text-transform: uppercase;
	line-height: 120%;
	font-size: 18px;
	font-family: 'Corporate-A-Bold';
	transition: all 0.3s;

}
.section__btn:hover{
	color: #53A1CB;
	border-color: #53A1CB;

}
.section__btn:hover path{
	fill: #53A1CB;
}
path{
	transition: all 0.3s;
}
.video {
	margin-bottom: 150px;
}
.video__img{
	margin-bottom: 25px;
}
.section__btn svg, .section__btn span{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	padding-left: 8vw;
}
.design__interior{
	display: grid;
	grid-template-columns: 255px 255px auto 330px;
	grid-template-rows: auto auto;
	gap: 14px 44px;
}
.design__cell-one{
	grid-row: 1/3;
}
.design__cell-two{ 
	grid-row-end: -1;
	display: flex;
	align-items: flex-end;
}
.design__cell-three{
	grid-row-end: -1;
	grid-column-end: -1;
	display: flex;
	align-items: flex-end;
}
.design__cell-text{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 15px;
}
.design-slider__item{
	margin: 0 30px;
}
.slick-track{
	margin-left: -30px;
}
.design-slider{
	padding-bottom: 25px;
	margin-top: 100px;
}
.arrow {
	position: absolute;
	z-index: 10px;
	cursor: pointer;
	bottom: 0;
	left: 50%;
}
.arrow-left{
	transform: translateX(-80px);
}
.arrow-right{
	transform: translateX(30px);
}
.design__box{
	max-width: 590px;
	padding: 0 10px;
	display: flex;
	gap: 60px;
	margin: 150px auto;
}
.design__box-text{
	margin-bottom: 15px;
}
.design__box-column{
	max-width: 255px;
}
.design-image{
	display: block;
	max-width: 100%;
}
img{
	max-width: 100%;
}
.design__interior-img{
	max-width: 100vw;
}

@media(max-width: 768px){
	.logo__img{
		width: 180px;
	}
	.list__item + .list__item{
		margin-left: 15px;
	}
	.header__nav{
		  padding-left: 10px;
	}
	.list__item{
		width: 35px;
		height: 35px;
	}
	.title {
    	font-size: 50px;
	}
}
@media(max-width: 420px){
	.header__top {
    	align-content: center;
    	display: flex;
    	align-items: center;
    	height: 90px;
    	flex-wrap: wrap;
    	justify-content: unset;
	}
	.list {
    	display: flex;
    	width: 100%;
    	justify-content: center;
	}
	.logo__img {
    	width: 200px;
	}
	.logo {
	    padding-left: 11vw;
	}
	.header__nav {
	    padding-left: 3vw;
	}
	.title {
    	font-size: 35px;
	}
	p{
		font-size: 12pt;
		line-height: 110%;
	}
	.concept {
	    padding-top: 50px;
	    margin-bottom: 50px;
	    justify-content: center;
	    text-align: center;
	}
	.premier__inner {
    	gap: 20px;
    	flex-wrap: wrap;
    	justify-content: center;
	    text-align: center;
    }
    .premier {
    	margin-bottom: 50px;
	}
	.video {
    	margin-bottom: 50px;
	}
	.design__interior {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    text-align: center;
	}
	.footer__inner {
    	flex-wrap: wrap;
    	justify-content: center;
    }
    .footer__inner .logo {
    	padding-left: 0;
	}
	.design__box{
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
	.concept__text{
		padding-bottom: 15px;
	}
	.design__box {
		margin: 50px auto;
	}
}
@media(max-width: 1220px){
	.design__interior {
    	grid-template-columns: 220px 220px auto 365px;
	}
}
@media(max-width: 1165px){
	.design__interior-img{
		max-width: 800px;
	}
	.design__interior {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    text-align: center;
	}
}
@media(max-width: 850px){
	.design__interior-img{
		max-width: 650px;
	}
}
@media(max-width: 700px){
	.design__interior-img{
		max-width: 500px;
	}
}
@media(max-width: 550px){
	.design__interior-img{
		max-width: 350px;
	}
}